<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:targetApi="31" >
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="MIUI万象息屏永不熄灭（不会因为静置、黑暗环境而关闭，省电模式/超级省电模式除外）\n使用前提必须是万象息屏设置为始终显示\n作用域勾选万象息屏后，必须停止一次万象息屏才生效（或者直接重启手机也行）" />
        <meta-data
            android:name="xposedminversion"
            android:value="89"/>
        <meta-data
            android:name="xposedscope"
            android:resource="@array/scope"/>

    </application>
</manifest>